{% extends 'layout/base.html.twig' %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
{% include "layout/navBar.html.twig" %}
<div id="background_actuality">
    <div id="overlay_background_actuality">
        <div id="title_page_actuality">
            <h1>Nos Actualités</h1>
        </div>
    </div>
</div>
<div id="container_all_actuality">
    <div class="actu actu_1">
        <a>
            <div class="text">
                <div class=" text _2 ">
                    <h2 class="title_actu" >AU PORCELET ROSE MAISON DELAYE</h2>
                    <aside class="aside_actu" >Mélissa et Benjamin Delaye ont été formés à l’École d'art culinaire Grégoire Ferrandi puis à l'école des charcutiers de Paris. Durant 7 années, ils ont appris leur métier auprès de leurs maîtres d'apprentissage Eric Pellé et Pascal Joly ( Meilleur Ouvrier de France Charcuterie) [...]</p>
                </div>
            </div>
            <div class=" normal _b3 ">
                <div class=" text _2 "></div>
            </div>
            <div class=" hover _b2 ">
                <img class=" image _b1 " src="{{ asset('/pictures/benjamin_et_melissa.jpg') }} " alt="bejamin et melissa gerant AU PORCELET ROSE et MAISON DELAYE à sceaux" />
                <a class="link_actu_bis" target="_blank" href="https://www.artisantourisme.fr/au-porcelet-rose">Découvrir l'article</a>
            </div>
        </a>
    </div>
    <div class="actu actu_2">
        <a>
            <img id="image_melissa" class="image" src="{{ asset('/pictures/photo_melissa.jpg') }}" alt="melissa delaye meilleure ouvrière de france" />
            <div class="normal">
                <div class="text"></div>
            </div>
            <div id="hover_image" class="hover">
                <div class="text">
                    <h2 class="title_actu" >Melissa DELAYE</h2>
                    <aside class="aside_actu" >Pendant ses années de formation, Mélissa côtoiera des maîtres d’apprentissage renommés tels que Éric Pellé et Pascal Joly, Meilleur Ouvrier de France charcutier-traiteur. Elle passera un CAP à l’école d’art culinaire Grégoire Ferrandi puis un BP au CEPROC, l’école des charcutiers de Paris [...]</aside>
                    <p>Le 31 mai 2021</p>
                    <a class="link_actu" target="_blank" href="https://www.lesartcutiers.com/melissa-delaye/">Découvrir l'article</a>
                </div>
            </div>
        </a>
    </div>
    <div class="actu actu_3">
        <a>
            <div class="text">
                <div class=" text _2 ">
                    <h2 class="title_actu" >Kevin, nourritures terrestres</h2>
                    <aside class="aside_actu" >Ne vous fiez pas à son nom comme sorti d’une nouvelle d’Alphonse Allais. Le Porcelet Rose est un lieu de gastronomie ; sa devanture abondante et colorée le montre dès l’abord. Poussez la porte et c’est un présentoir vitré couvert de dix pâtés en croûte [...]</aside>
                    <p>Le LE 8 DÉCEMBRE 2020</p>
                    <a class="link_actu" target="_blank" href="https://sceaux-lagazette.fr/index.php/2020/12/08/kevin-et-les-nourritures-terrestres/">Découvrir l'article</a>
                </div>
            </div>
            <div class=" normal _b3 ">
                <div class=" text _2 "></div>
            </div>
            <div class=" hover _b2 ">
                <img class=" image _b1 " src="{{ asset('/pictures/photo_banniere_carte.jpg') }} " alt="image design, logo CYNES sur un support de communication" />
                <a class="link_actu_bis" href="#">Découvrir l'article</a>
            </div>
        </a>
    </div>
    <div class="actu actu_4">
        <a>
            <img id="pate_en_croute" class="image" src="{{ asset('/pictures/accueil5.jpg') }}" alt="paté en croute primé medaille d'or" />
            <div class="normal">
                <div class="text"></div>
            </div>
            <div id="hover_image" class="hover">
                <div class="text">
                    <h2 class="title_actu" >Championnat de France Pâté Croûte 2018</h2>
                    <aside class="aside_actu" >C’est également lors du 32ème Chapitre Magistral du Bailliage Paris Île de France qu’ont été remis les Prix du Championnat de France Saint Antoine du Pâté Croûte 2018. Le trophée Saint Antoine a été remporté par Benjamin DELAYE, Au Porcelet Rose à Sceaux [...]</aside>
                    <a class="link_actu" target="_blank" href="https://chevaliers-saint-antoine.fr/concours/remise-des-prix-du-championnat-de-france-saint-antoine-du-pate-croute-2018/">Découvrir l'article</a>
                </div>
            </div>
        </a>
    </div>
    <div class="actu actu_5">
        <a>
            <div class="text">
                <div class=" text _2 ">
                    <h2 class="title_actu" >Résultats 2018 du Championnat du Meilleur Fromage de Tête</h2>
                    <aside class="aside_actu" >La liste des médaillés lors du Championnat du Meilleur Fromage de Tête [...]</aside>
                    <p>Le 12 FÉVRIER 2018</p>
                    <a class="link_actu" href="#">Découvrir l'article</a>
                </div>
            </div>
            <div class=" normal _b3 ">
                <div class=" text _2 "></div>
            </div>
            <div class=" hover _b2 ">
                <img id="image_medal" class=" image _b1 "  src="{{ asset('/pictures/medailles/Medaille_Fromage_de_tête_2018_or.png') }} " alt="medaille d'or meilleur fromage de tête" />
                <a class="link_actu_bis" target="_blank" href="https://www.paris-bistro.com/cuisine/produits/produits-tripiers/resultats-2018-championnat-meilleur-fromage-de-tete">Découvrir l'article</a>
            </div>
        </a>
    </div>
    <div class="actu actu_6">
        <a>
            <img id="photo_devanture" class="image" src="{{ asset('/pictures/photo_devanture.jpg') }}" alt="nouvelle devanture de la charcuterie AU PORCELET ROSE" />
            <div class="normal">
                <div class="text"></div>
            </div>
            <div id="hover_image" class="hover">
                <div class="text">
                    <h2 class="title_actu" >AU PORCELET ROSE</h2>
                    <aside class="aside_actu" >C’est en juillet 2012 que Mélissa et Benjamin Delaye ont décidé de vivre de leur passion en reprenant une charcuterie vieille de 100 ans à Courbevoie pour y ouvrir leur premier point de vente. Cette chance de découvrir ce métier fabuleux, [...]</aside>
                    <a class="link_actu" target="_blank" href="https://www.sceaux-shopping.com/au-porcelet-rose/?page=2">Découvrir l'article</a>
                </div>
            </div>
        </a>
    </div>
</div>
<div id="margin_container" class="slider_comments">
    <div class="quote"><img src="{{ asset('/pictures/quote.png') }}" alt=""></div>
    <div class="title_card">
        <span data-aos="fade-right" data-aos-duration="1200" id="jk13" class="main_title jk3">De l'art</span>
        <h2 id="jk12" class="second_title jk4">Et des actus</h2>
    </div>
    <div class="instafeed-container">
        
    </div>
</div>

{% endblock %}