{% extends 'layout/base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
	{% include "layout/navBar.html.twig" %}
	<div id="background_contact">
		<div id="overlay_background_contact">
			<div id="title_contact">
				<h2>ContAct</h2>
			</div>
		</div>
	</div>
	<div id="message_validation">
		<span>{{ messageValidation }}</span>
	</div>
	<h1 id="title_page_contact">La boutique</h1>
	<div class="row row-cols-1 row_contact">
		<div class="col col-md-2">
			<div id="phone_contact">
				<i class="fas fa-mobile-alt"></i>
				<h3>Téléphone</h3>
				<p>01 46 61 01 71</p>
			</div>
		</div>
		<div id="container_places_contact" class="col col-md-2">
			<div id="places_contact">
				<i class="fas fa-map-marker-alt"></i>
				<h3>Adresse</h3>
				<p id="no_margin">Au Porcelet Rose</p>
				<p>41 rue Houdan, 92230 Sceaux</p>
			</div>
		</div>
		<div class="col col-md-2">
			<div id="mail_contact">
				<i class="fas fa-envelope"></i>
				<h3>E-Mail</h3>
				<a href="mailto:contact@maisondelaye.com" target="_blank">
					<p>contact@maisondelaye.com</p>
				</a>
			</div>
		</div>
	</div>
	<div id="aside_message">
		<span>N'hésitez pas à nous contacter pour plus de renseignement.</span>
	</div>
	<div id="container_form_contact" class="row">
		{{ form_start(form, {'attr': {'class': 'needs-validation'} },{'attr': {'novalidate': 'novalidate'} }) }}
		<div class="mb-3">
			{{ form_label(form.firstname) }}
			{{ form_widget(form.firstname) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.lastname) }}
			{{ form_widget(form.lastname) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.company) }}
			{{ form_widget(form.company) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.mail) }}
			{{ form_widget(form.mail) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.object) }}
			{{ form_widget(form.object) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.message) }}
			{{ form_widget(form.message, { 'attr': {'rows': '6'} }) }}
		</div>
		<div class="mb-3">
			<span>* champs obligatoires</span>
		</div>
		<button id="btn_contact" class="btn btn-light">{{ button_label|default('Envoyer') }}</button>
		{{ form_end(form) }}
	</div>
	<div id="map"></div>
	<script src="js\map.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP9MlyrdjfDe3BPr-WzlIJsVmezFGCAvc&callback=initMap&libraries=&v=weekly" async
></script>
{% endblock %}
