{% extends 'layout/base.html.twig' %}

{% block title %}Maison DELAYE{% endblock %}

{% block body %}
<div id="card_main_img">
   {% include "layout/navBar.html.twig" %}
    <div id="container_main_title">
        <h1 id="main_title">De l'art et du cochon</h2>
        <a id="second_title" href="{{ path('card') }}"><span>Voir notre carte</span><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
<div id="container_skills" >
<div class="vertical_item">
    <div class="separator_vertical"></div>
    <img id="logo_grey" src="{{ asset('pictures/logo_gris.jpg')| imagine_filter('logo_grey') }}" alt="">
</div>
    <div id="section_skills">
        <span data-aos="fade-right" data-aos-duration="1200" id="skill">Savoir-faire</span>
        <h2 id="work">Charcutier</h2>
    </div>
    <aside id="about">
        <p>Véritable institution de la Rue Houdan à Sceaux, “Au Porcelet Rose” vous ouvre les portes de la « Maison DELAYE « , où charcuterie d’excellence et mets traiteur de tradition française se mêlent : persillé de jambon de Bourgogne, rillons, foie gras, pâtés en croûte primés, osso bucco de lotte, confit d’agneau, choucroute… découvrez l’art de sublimer le cochon.</p>
    </aside>
    <div class="separator"></div>
    <section>
        <ul class="carousel">
            <li class="items main-pos" id="1">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/1.jpg') | imagine_filter('image_Products') }}" />
            </li>
            <li class="items right-pos" id="2">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/2.jpg') | imagine_filter('image_Products') }}" />
            </li>
            <li class="items back-pos" id="3">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/3.jpg') | imagine_filter('image_Products') }}"/>
            </li>
            <li class="items back-pos" id="4">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/4.jpg') | imagine_filter('image_Products') }}" >
            </li>
            <li class="items back-pos" id="5">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/5.jpg') | imagine_filter('image_Products') }}" />
            </li>
            <li class="items back-pos" id="6">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/6.jpg') | imagine_filter('image_Products') }}" />
            </li>
            <li class="items left-pos" id="7">
                <img class="picture_product" src="{{ asset('/uploads/pictures_products/7.jpg') | imagine_filter('image_Products') }}" />
            </li>
        </ul>
        <span>
            <a id="prev"></a>
            <a id="next"></a>
        </span>
    </section>
    <div id="btn_discover">
        <a href="{{ path('theMaisonDelaye') }}"><button type="button" class="btn btn-light">Decouvrir</button></a>
    </div>
</div>
<div class="row" id="distinction_medal">
    <div class="col-lg-6" id="container_medal">
        <div id="title_medal">
            <span id="title_medals" data-aos="fade-right" data-aos-duration="1200" class="main_title">Médailles</span>
            <h2 class="second_title">Les palmarès</h2>
        </div>
        <p>Attaché à l'excellence et à la maîtrise du geste, La « Maison DELAYE « s'investit dans le monde du concours culinaire, synonyme de prestige à travers le monde, pour perpétuer les valeurs des métiers de bouche et le savoir-faire de l’art culinaire français. </p>
    </div>
    <div class="col-lg-6">
        <div class="slider">
	        <div class="slide-track">
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Benjamin_BBR.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Mélissa_BBR.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_PÂTÉ_DE_FOIE_Europe_Or.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Jambon_de_paris_2017_Argent_simple.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Fromage_de_tête_2018_or.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Choucroute_2014_argent.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Benjamin_BBR.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Mélissa_BBR.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_PÂTÉ_DE_FOIE_Europe_Or.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Jambon_de_paris_2017_Argent_simple.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Fromage_de_tête_2018_or.png') | imagine_filter('image_medaille') }}"/>
                </div>
                <div class="slide">
                    <img src="{{ asset('/pictures/medailles/Medaille_Choucroute_2014_argent.png') | imagine_filter('image_medaille') }}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <div class="vertical_item_2">
        <div class="separator_vertical_2"></div>
        <img id="logo_grey_2" src="{{ asset('pictures/logo_gris.jpg') | imagine_filter('logo_grey') }}" alt="">
    </div>
    <div id="row_actuality" class="row">
        <div id="container_picture" class="col-lg-6">
            <img data-aos="fade-right" data-aos-duration="1200" id="picture_melissa_delaye" class="img-fluid" src="{{ asset('/pictures/photo_melissa.jpg') | imagine_filter('image_section_3') }}" alt="">
        </div>
        <div id="container_text_actuality" class="col-lg-6">
            <div id="title_actuality">
                <span id="jk1" class="main_title">Les actus</span>
                <h2 id="jk2" class="second_title">La maison delaye</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod quidem tempora sed, assumenda, deleniti inventore saepe quisquam dolore architecto delectus quae hic ipsam culpa consequuntur enim doloremque ducimus nisi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus et, quibusdam provident delectus, rem temporibus quam ullam vitae repellendus eum aliquam sed id ad fugiat perferendis ipsa! Eveniet, quasi aut.</p>
            <div class="separator_actuality"></div>
            <a href="{{ path('actuality') }}"><button id="btn_actuality" type="button" class="btn btn-light">Decouvrir</button></a>
        </div>
    </div>
    <div class="row row_card">
        <div class="col-lg-6 container_text_menu">
            <div class="title_card">
                <span class="main_title jk3">De saison</span>
                <h2 class="second_title jk4">La carte</h2>
            </div>
            <p>Découvrez la carte de La « Maison DELAYE » : des recettes traditionnelles emblématiques réinterprétées par nos chefs, pour conjuguer tradition et modernisme de la gastronomie française. La maison s’attache à sourcer des matières premières de qualité, sélectionnées chez nos producteurs pour sublimer l’univers de la charcuterie et des mets traiteur : Jambon Blanc primé, Pâté en croûte Richelieu, Choucroute Garnie, Tournedos de Bœuf aux Morilles, Gâteau de Semoule Traditionnel...
            De la mise en bouche au dessert, en passant par les plats cuisinés, notre carte est un festival de sens autour de l’art culinaire à la française. 
            </p>
            <div class="separator_menu"></div>
            <a href="{{ path('card') }}"><button type="button" class="btn btn-light btn_menu">Decouvrir</button></a>
        </div>
        <div class="col-lg-6 container_picture_menu">
            <img data-aos="fade-left" data-aos-duration="1200" class="img-fluid picture_menu" src="{{ asset('/pictures/photo_menu.jpg') | imagine_filter('image_section_3') }}" alt="">
        </div>
    </div>
</div>
<div id="container_contact">
    <div id="container_contact_opacity">
        <div id="title_contact_homepage">
            <span data-aos="fade-right" data-aos-duration="1200" class="main_title jk5">La boutique</span>
            <h2 class="second_title jk6">Sceaux</h2>
        </div>
        <div id="container_text_contact">
            <div class="text_contact">
                <h3>Horaires</h3>
                <p>Du mardi au samedi de 8h à 19h</p>
                <p>le dimanche de 8h à 13h</p>
            </div>
            <div class="text_contact">
                <h3>Nous trouver</h3>
                <p>41 rue Houdan, 92230 Sceaux</p>
            </div>
            <div class="text_contact">
                <h3>Nous contacter</h3>
                <p>01 46 61 01 71</p>
                <p>contact@maisondelaye.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
