{% extends 'base.html.twig' %}

{% block body %}
<div id="card_main_img">
    <header>
        <a href="{{ path('homepage') }}"><img id="logoMaisonDelaye" src="\pictures\logo-maison-delaye.png" alt="logo Maison Delaye"></a>
        <div id="hamburger">
            <div id="hamburger-content">
                <nav>
                    <ul>
                        <li><a class="link_navbar" href="{{ path('theMaisonDelaye') }}">La Maison</a></li>
                        <li><a class="link_navbar" href="{{ path('card') }}">La carte</a></li>
                        <li><a class="link_navbar" href="{{ path('actuality') }}">Actualités</a></li>
                        <li><a class="link_navbar" href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <button id="hamburger-button">&#9776;</button>
            <div id="hamburger-sidebar">
                <div id="hamburger-sidebar-header"></div>
                <div id="hamburger-sidebar-body"></div>
            </div>
            <div id="hamburger-overlay"></div>
        </div>
    </header>
    <div id="container_main_title">
        <h1 id="main_title">De l'art et du cochon</h2>
        <a id="second_title" href="{{ path('card') }}"><span>Voir la carte</span><i class="fas fa-chevron-right"></i></a>
    </div>
</div>
<div class="separator_vertical_1"></div>
<img id="logo_grey" src="\pictures\logo_gris.svg" alt="">
<div class="separator_vertical_2"></div>
<div id="section_skills">
    <h1 id="skill">Savoir-faire</h1>
    <h2 id="work">Charcutier</h2>
</div>
<aside id="about"> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut molestiae error eos beatae architecto. Eius vitae necessitatibus voluptates enim corporis voluptas, inventore suscipit dolores saepe. Corrupti porro doloribus facilis eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo quam expedita, perferendis ipsa obcaecati mollitia harum neque, doloribus cumque eveniet sunt iure soluta ipsum possimus nam corrupti fugiat fugit!</p>
</aside>
<div class="separator"></div>
<section>
    <ul class="carousel">
        <li class="items main-pos" id="1">
            <img class="picture_product" src="\uploads\pictures_products\1.jpg" />
        </li>
        <li class="items right-pos" id="2">
            <img class="picture_product"src="\uploads\pictures_products\2.jpg" />
        </li>
        <li class="items back-pos" id="3">
            <img class="picture_product"src="\uploads\pictures_products\3.jpg"/>
        </li>
        <li class="items back-pos" id="4">
            <img class="picture_product"src="\uploads\pictures_products\4.jpg" >
        </li>
        <li class="items back-pos" id="5">
            <img class="picture_product" src="\uploads\pictures_products\5.jpg" />
        </li>
        <li class="items back-pos" id="6">
            <img class="picture_product" src="\uploads\pictures_products\6.jpg" />
        </li>
        <li class="items left-pos" id="7">
            <img class="picture_product" src="\uploads\pictures_products\7.jpg" />
        </li>
    </ul>
    <span>
        <a id="prev"></a>
        <a id="next"></a>
    </span>
</section>
<div id="btn_discover">
    <button type="button" class="btn btn-light">Decouvrir</button>
</div>
<div class="row" id="distinction_medal">
    <div class="col-md-6" id="title_medal">
        <h1 class="main_title">Médailles</h1>
        <h2 class="second_title">Les palmarés</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sit, perferendis sequi est aliquid illum reiciendis! Distinctio consectetur, voluptates repellat illo soluta optio officia corrupti repudiandae modi! Eveniet, ad provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti enim quaerat consectetur eligendi mollitia itaque. Cupiditate, tenetur official. </p>
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="second_separator_vertical_1"></div>
<img id="logo_grey_2" src="\pictures\logo_gris.svg" alt="">
<div class="second_separator_vertical_2"></div>
<div class="row">
    <div id="container_picture" class="col-md-6">
        <img id="picture_melissa_delaye" src="\pictures\photo_melissa.jpg" alt="">
    </div>
    <div id="container_text_actuality" class="col-md-6">
        <h1 id="jk1" class="main_title">Les actus</h1>
        <h2 id="jk2" class="second_title">La maison delaye</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod quidem tempora sed, assumenda, deleniti inventore saepe quisquam dolore architecto delectus quae hic ipsam culpa consequuntur enim doloremque ducimus nisi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus et, quibusdam provident delectus, rem temporibus quam ullam vitae repellendus eum aliquam sed id ad fugiat perferendis ipsa! Eveniet, quasi aut.</p>
        <div class="separator_actuality"></div>
        <button id="btn_actuality" type="button" class="btn btn-light">Decouvrir</button>
    </div>
</div>
<div id="row_actuality" class="row">
    <div id="container_text_menu" class="col-md-6">
        <h1 id="jk3" class="main_title">Les actus</h1>
        <h2 id="jk4" class="second_title">La maison delaye</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod quidem tempora sed, assumenda, deleniti inventore saepe quisquam dolore architecto delectus quae hic ipsam culpa consequuntur enim doloremque ducimus nisi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus et, quibusdam provident delectus, rem temporibus quam ullam vitae repellendus eum aliquam sed id ad fugiat perferendis ipsa! Eveniet, quasi aut.</p>
        <div class="separator_menu"></div>
        <button id="btn_menu" type="button" class="btn btn-light">Decouvrir</button>
    </div>
    <div id="container_picture_menu" class="col-md-6">
        <img id="picture_menu" src="\pictures\photo_menu.jpg" alt="">
    </div>
</div>

{% endblock %}
