<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="La Maison Delaye, charcuterie située rue Houdan à Sceaux, propose des produits charcutiers et des mets traiteurs issus du savoir-faire français."/>
        <title>{% block title %}Maison DELAYE{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
            <link href="{{ asset('css/vegas.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJ8ZSX8JXC"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-NJ8ZSX8JXC');
        </script>
        <meta name="google-site-verification" content="Y78qGbV4O977NwhVJZik4lG3V2bzmlpklTgen0RZBW4" />
        <!-- Balisage JSON-LD généré par l'outil d'aide au balisage de données structurées de Google -->
        <script type="application/ld+json"> 
        {
            "@context" : "http://schema.org", 
            "@type" : "LocalBusiness", 
            "name" : "Maison DELAYE", 
            "image" : "https://www.maisondelaye.com/pictures/MD_Maison_Delaye.png", 
            "telephone" : "01 46 61 01 71", 
            "email" : "contact@maisondelaye.com", 
            "address" : 
            { 
                "@type" : "PostalAddress",
                "streetAddress" : "41 rue Houdan",
                "addressLocality" : "Sceaux",
                "postalCode" : "92230"
            } 
        }
        </script>
    </head>
    <body>
    <a href="#top" id="button_back_top"></a>
        {% block body %}{% endblock %}

    <footer>
        <div id="main_containter_footer">
            <a href="{{ path('homepage') }}"><img src="{{ asset('/pictures/logo-maison-delaye.png') | imagine_filter('logo_delaye') }}" alt="logo_Maison_Delaye"></a>
            <div id="icons_social_media">
                <a href="https://www.facebook.com/maisondelaye" target="_blank"><img class="picto_footer" src="{{ asset('/pictures/picto_facebook.png') }}" alt="page facebook maison delaye"></a>
                <a href="https://www.instagram.com/maisondelaye_officiel/" target="_blank"><img id="insta" class="picto_footer" src="{{ asset('/pictures/picto_instagram.png') }}" alt="instagram maison delaye"></a>
                <a href="mailto:contact@maisondelaye.com" target="_blank"><img class="picto_footer" src="{{ asset('/pictures/picto_mail.png') }}" alt="contacter maison delaye"></a>
            </div>
            <div id="legal_mention">
                <p>© 2021 maisondelaye.com | <a href="{{ path('legalMention') }}">mentions légales</a></p>
                <p>Design by <a href="https://cynes.fr/">CYNES</a></p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
    <script src="https://kit.fontawesome.com/663b1e4bdb.js" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init({
        once: true,
    });</script>
    <script src="js\carousel.js"></script>
    <script src="js\vegas.min.js"></script>
    <script src="js\vegas_script.js"></script>
    <script src="js\button_back_on_top.js"></script>
    <script src="js\contact.js"></script>
    <script type="text/javascript" src="//cookie.eurowebpage.com/cookie.js?skin=cookielaw1&amp;msg=En%20poursuivant%20votre%20navigation%20sur%20ce%20site%2C%20vous%20acceptez%20l'utilisation%20de%20Cookies%20dans%20le%20but%20d'am%C3%A9liorer%20votre%20exp%C3%A9rience.&amp;learnmore=Politique%20de%20confidentialit%C3%A9&amp;link_color=7c7c7c&amp;morelink=http%3A%2F%2Flocalhost%3A8080%2Fuploads%2Fpolitique_Cookies_MAISON_DELAYE.pdf&amp;accept_radius=5&amp;accept_background=ffffff"></script>
    </body>
</html>
