<table>
	<tr>
		<td>Prenom :</td>
		<td>{{ messageFromClient.lastname }}</td>
	</tr>
	<tr>
		<td>Nom :</td>
		<td>{{ messageFromClient.firstname }}</td>
	</tr>
    	<tr>
		<td>Société :</td>
		<td>{{ messageFromClient.company }}</td>
	</tr>
	<tr>
		<td>Email :</td>
		<td>{{ messageFromClient.mail }}</td>
	</tr>
    	<tr>
		<td>Objet :</td>
		<td>{{ messageFromClient.object }}</td>
	</tr>
	<tr>
		<td>Message :</td>
		<td>{{ messageFromClient.message }}</td>
	</tr>
</table>